.footer-content {
    display: flex;
    justify-content: space-between; /* Align children at opposite ends */
    align-items: center; /* Vertically center children */
    background-color: #333;
    color: white;
    padding: 20px;
  }
  .contact-info {
    flex-grow: 1; /* Allow contact info to grow and take available space */
    text-align: center; /* Center align contact information */
  }
.footer-logo {
    display: flex;
    align-items: flex-start;/* Add some spacing between logo and contact info */
  }
  .footer-logo img {
    width: 50px;
  }

  