/*.main-content {
   display: grid;
grid-template-columns: 1fr 1fr; /
gap: 20px; 
    
    
    padding-top: 10px;
  }*/
  .stylef {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px; /* Gap between grid items */
    margin-top: 30px; /* Margin on the top */
    background-color: darkgreen; /* Background color */
    
    margin-bottom: 100px; /* Margin on the bottom */
   
  }
  
  .text-container {
    grid-column: 1 / span 1; /* Text container spans one column */
    padding: 20px; /* Add padding */
    justify-self: center;


  }
  
  .text-container h1 {
    font-family: Arial, Helvetica, sans-serif; /* Font family */
    color: yellow; /* Text color */
  }
  .text-container h2,p {
    font-family: Arial, Helvetica, sans-serif; /* Font family */
    color: white; /* Text color */
  }
  
  .image-container {
    grid-column: 2 / span 1; /* Image container spans one column */
    position: relative; /* Set the position to relative */
    
}

.image-container img {
    max-width: 500px; /* Set maximum width for the image */
    max-height: 300px; /* Set maximum height for the image */
    position: absolute; /* Set the position to absolute */
    right: 40%; /* Push the image 5% outside the container */
    top: 60%; /* Adjust the top position to push the image lower */
    transform: translateY(-40%);  /*Adjust for vertical centering */
   
    border-radius: 10px; /* Apply border radius */
}
.special-container{
    display: flex;
    justify-content:space-evenly;
  
    
}
.special-container h1 {
    
  margin-bottom: 20px;
    
}
.special-container Button {
    margin-top: 10px;
    
    height: 50px;
    
}

@media only screen and (max-width: 600px) {
    .stylef {
        grid-template-columns: 1fr 1fr; /* Change to a single column layout */
    }

    .text-container {
        grid-column: 1; /* Reset grid column to auto-placement */
        text-align: left; /* Center align text on mobile */
        justify-content: left;

    }

    .image-container {
        grid-column: 2; /* Reset grid column to auto-placement */
        justify-content: left; /* Center image horizontally */
        margin-top: 15px;
    }

    .image-container img {
        max-width: 150px; /* Allow image to take full width */
        margin: 2; /* Remove margin to fit full width */
        border-radius: 8px; /* Remove border radius */
        position: static; /* Reset positioning */
        transform: none; /* Reset any transformations */
    }
}

